[submodule "Libraries/pbrt-parser"]
	path = Libraries/pbrt-parser
	url = https://github.com/ingowald/pbrt-parser.git
[submodule "Libraries/pbrtParser"]
	path = Libraries/pbrtParser
	url = https://github.com/ingowald/pbrt-parser.git
